geckodriver.log
app/flask/env
app/flask/__pycache__/
app/flask/app/__pycache__/
app/flask/resources
app/flask/resources/
app/flask/app/bot_api.py_old
app/flask/app/instagram_bot.py_old
how_to_run.txt
